<html>
	<head>
		<title>Perl</title>
		%FUNC_cssInclude%
	</head>
	<body>
			%FUNC_getHeader%
		<div class="container">
			<div class="row title">
				<h1>Add article</h1>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="add-article-div">
						<form method="POST" action="%FUNC_getRoot%UserArticlesAdd/Edit">
							<div> %FUNC_addArticle% </div>
						</form>
					</div>
				</div>		
			</div>
		</div>
		%FUNC_jsInclude%
	</body>
</html>
