<html>
	<head>
		<title>Perl</title>
		%FUNC_cssInclude%
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand" href="%FUNC_getRoot%">GeekJournal</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="#">Logout</a></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h1>My Articles</h1>
					%FUNC_showUserArticles%		
				</div>
				<div class="col-md-3 navbar-default" style="text-align: center;">
					<h1>%FUNC_getLogin%</h1>
					<a href="#">My articles</a><br />
					<a href="UserArticlesAdd">Add post</a><br />
					<a href="#">Profile</a>
		      </ul>
				</div>
			</div>
		</div>
	</body>
</html>
