<html>
	<head>
		<title>Perl</title>
		%FUNC_cssInclude%
	</head>
	<body>
		%FUNC_getHeader%
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h1>My Articles</h1>
					%FUNC_showUserArticles%		
				</div>
				<div class="col-md-3 navbar-default" style="text-align: center;">
					<h1>%FUNC_getLogin%</h1>
					<a href="#">My articles</a><br />
					<a href="UserArticlesAdd">Add post</a><br />
					<a href="#">Profile</a>
		      </ul>
				</div>
			</div>
		</div>
		%FUNC_jsInclude%
	</body>
</html>
