<html>
    <head>
        <title>Perl</title>
        %FUNC_cssInclude%
    </head>
    <body>
		%FUNC_getHeader%
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<h1>All Articles</h1>
					%FUNC_showAllArticles%		
				</div>
				<div class="col-md-3 navbar-default" style="text-align: center;">
					<h1>Profile links</h1>
					<a href="UserArticles">My articles</a><br />
					<a href="UserArticlesEdit">Add post</a><br />
					<a href="ProfileEdit">Profile</a>
		      </ul>
				</div>
			</div>
		</div>
        %FUNC_jsInclude%
    </body>
</html>
